<!doctype html>
<html lang="en">

<head>
    <title> About Brandon </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
        body, html {
            height: 100%;
        }

        body {
            background-image: url(aboutbgimg.jpeg);
            height: 100%;
            background-position: center;
            background-repeat: repeat-y;
            background-size: cover;
        }
    </style>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light mb-5">
        <button class="navbar-toggler" type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation'>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link active" href="/about">About <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/contact">Contact</a>
            </div>
        </div>
    </nav>
    <br/>
    <div class="container pt-5">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <img src='aboutme.png' class='img-fluid rounded-circle' alt='me'>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row pt-5">
            <div class="card text-white bg-dark">
                <div class="card-header">
                    A little about Me:
                </div>
                <div class="card-body">
                    Hello, and thank you for visiting my portfolio. My name is Brandon Benoit, I'd like to tell you a little about myself and let you know why
                    I created this page. I've spent the better part of the last 23 years working in the wireless industy. Spending most of my time in retail,
                    I've held positions in sales, sales management, sales operations and logistics, and sales training. After a while, I changed my focus and
                    got my A+ certification with the intention of going into IT. Unfortunately, before I was able to pursue this new career path, I was laid off.
                    I am currently attending Origin Code Academy, where I am studying coding. We have been introduced to a few different languages including
                    JavaScript, HTML, and React. We have also done work with CSS, MySQL, MongoDB, Express, and I am currently beginning to start working with
                    Redux and React Router. I have learned a lot, but I also realize that I have a lot to learn! I am currently seeking employment as a junior
                    developer. If you would like to get ahold of me, please visit my contact page and send me your name and email address and I will promptly get
                    back to you.
                </div>
                <div class="card-footer">
                    <a href='https://www.linkedin.com/in/brandon-benoit-99551292' target='_blank'>
                        <img src='LinkedIn.png' class='float-left' alt='LinkedIn'>
                    </a>
                    <a class='btn btn-info float-right' href='/contact' role='button'>Contact</a>
                </div>
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>

</html>


