<!doctype html>
<html lang="en">

<head>
    <title> Welcome! </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
        body, html {
            height: 100%;
        }

        body {
            background-image: url(indexbgimg.jpeg);
            height: 100%;
            background-position: center;
            background-repeat: repeat-y;
            background-size: cover;
        }
    </style>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-success mb-4">
        <a class='navbar-brand order-1 font-weight-bold' href='https://github.com/bbenoi01' target='_blank'>GitHub</a>
        <button class="navbar-toggler" type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation'>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/about">About</a>
                <a class="nav-item nav-link" href="/contact">Contact</a>
            </div>
        </div>
    </nav>
    <br />
    <div class="container pt-5">
        <div class="row">
            <div class="col-sm">
                <div class="alert alert-dark text-center font-weight-bold">
                    Hello! My name is <%= person.firstName %> <%= person.lastName %>. Welcome to my personal portfolio.<br />
                    This page serves to showcase some of the things I have worked on. I hope you enjoy them!
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-sm">
                <a href='https://bb-change-calculator.herokuapp.com/' target='_blank'>
                    <img src='Change Calculator.png' class='img-fluid rounded' alt='change claculator'>
                </a>
                <br />
                <br />
                <br />
                <a href='https://bb-mortgage-calculator.herokuapp.com/' target='_blank'>
                    <img src='Mortgage Calculator.png' class='img-fluid rounded' alt='mortgage calculator'>
                </a>
                <br />
                <br />
                <br />
                <a href="https://bb-weather-app.herokuapp.com/" target='_blank'>
                    <img src="Weather App.png" class='img-fluid rounded' alt="weather app">
                </a>
            </div>
            <div class="col-sm">
                <a href='/about'>
                    <img src='Me.png' class='img-fluid rounded' alt='me'>
                </a>
            </div>
            <div class="col-sm">
                <a href='https://bb-vstda.herokuapp.com/' target='_blank'>
                    <img src='VSTDA.png' class='img-fluid rounded' alt='todo app'>
                </a>
                <br />
                <br />
                <br />
                <a href='https://bb-nfl-schedule-generator.herokuapp.com/' target='_blank'>
                    <img src='generator.png' class='img-fluid rounded' alt='nfl schedule generator'>
                </a>
                <br />
                <br />
                <br />
                <a href="https://bb-movie-finder.herokuapp.com/" target='_blank'>
                    <img src="Movie Finder.png" class='img-fluid rounded' alt="movie finder">
                </a>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>

</html>





















